{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block content %}
    <div class="container my-5">
        <h1 class="mb-4">O Galantych Wypiekach</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo, velit in dictum suscipit,
            augue erat tempus nisi, sit amet posuere nunc urna vel arcu. Curabitur congue feugiat lorem,
            vel hendrerit ipsum dapibus ut.
        </p>
    </div>
{% endblock %}
