name: Javascript Tests (MySQL)

on:
    workflow_dispatch: ~
    workflow_call:
        inputs:
            branch:
                description: "Branch"
                required: false
                type: string
                default: ""
            type:
                description: "Type of the build"
                required: true
                type: string

permissions:
    contents: read

jobs:
    get-matrix:
        runs-on: ubuntu-latest
        name: "Get matrix"
        outputs:
            matrix: ${{ steps.matrix.outputs.prop }}
            panther-matrix: ${{ steps.panther-matrix.outputs.prop }}
        steps:
            -   name: "Checkout (With Branch)"
                if: "${{ inputs.branch != '' }}"
                uses: actions/checkout@v4
                with:
                    ref: ${{ inputs.branch }}

            -   name: "Checkout"
                uses: actions/checkout@v4
                if: "${{ inputs.branch == '' }}"

            -   name: "Get matrix"
                id: matrix
                uses: notiz-dev/github-action-json-property@release
                with:
                    path: '.github/workflows/matrix.json'
                    prop_path: '${{ inputs.type }}.ci-js'

            -   name: "Get panther matrix"
                id: panther-matrix
                uses: notiz-dev/github-action-json-property@release
                with:
                    path: '.github/workflows/matrix.json'
                    prop_path: '${{ inputs.type }}.ci-js-panther'

    behat-js:
        needs: get-matrix
        runs-on: ubuntu-latest
        name: "[${{ matrix.group }}] [PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}, MySQL ${{ matrix.mysql }}]"
        timeout-minutes: 15
        strategy:
            fail-fast: false
            matrix: ${{ fromJson(needs.get-matrix.outputs.matrix) }}

        env:
            APP_ENV: ${{ matrix.env || 'test_cached' }}
            DATABASE_URL: "mysql://root:root@127.0.0.1/sylius?charset=utf8mb4&serverVersion=${{ matrix.mysql }}"
            BEHAT_BASE_CMD: "vendor/bin/behat --colors --strict --no-interaction -vvv -f progress"
            BEHAT_RERUN_CMD: "vendor/bin/behat --colors --strict --no-interaction -vvv -f pretty --rerun"

        steps:
            -   name: "Checkout (With Branch)"
                if: "${{ inputs.branch != '' }}"
                uses: actions/checkout@v4
                with:
                    ref: ${{ inputs.branch }}

            -   name: "Checkout"
                if: "${{ inputs.branch == '' }}"
                uses: actions/checkout@v4

            -   name: Build application
                uses: SyliusLabs/BuildTestAppAction@v3.2.0
                with:
                    build_type: "app"
                    cache_key: "${{ runner.os }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-composer-${{ hashFiles('composer.json') }}"
                    cache_restore_key: "${{ runner.os }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-composer-"
                    e2e: "yes"
                    e2e_js: "yes"
                    database: "mysql"
                    database_version: ${{ matrix.mysql }}
                    php_version: ${{ matrix.php }}
                    symfony_version: ${{ matrix.symfony }}
                    node_version: "20.x"

            -   name: Run Behat (${{ matrix.group }})
                run: |
                    $BEHAT_BASE_CMD --tags="${{ matrix.tags }}" --suite-tags="@hybrid,@ui" || \
                    BEHAT_STEP_DELAY=3000 $BEHAT_RERUN_CMD --tags="${{ matrix.tags }}" --suite-tags="@hybrid,@ui" || \
                    BEHAT_STEP_DELAY=3000 $BEHAT_RERUN_CMD --tags="${{ matrix.tags }}" --suite-tags="@hybrid,@ui"

            -   name: Upload logs
                uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: "Logs (${{ matrix.group }}, PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}, MySQL ${{ matrix.mysql }}) - ${{ github.run_id }}-${{ github.run_number }}"
                    path: |
                        etc/build/
                        var/log
                    if-no-files-found: ignore
                    overwrite: true

    behat-panther:
        needs: get-matrix
        runs-on: ubuntu-latest
        name: "Panther, PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}, MySQL ${{ matrix.mysql }}"
        timeout-minutes: 15
        strategy:
            fail-fast: false
            matrix: ${{ fromJson(needs.get-matrix.outputs.panther-matrix) }}

        env:
            APP_ENV: ${{ matrix.env || 'test_cached' }}
            DATABASE_URL: "mysql://root:root@127.0.0.1/sylius?charset=utf8mb4&serverVersion=${{ matrix.mysql }}"
            BEHAT_BASE_CMD: "vendor/bin/behat --colors --strict --no-interaction -vvv -f progress"
            BEHAT_RERUN_CMD: "vendor/bin/behat --colors --strict --no-interaction -vvv -f pretty --rerun"

        steps:
            -   name: "Checkout (With Branch)"
                if: "${{ inputs.branch != '' }}"
                uses: actions/checkout@v4
                with:
                    ref: ${{ inputs.branch }}

            -   name: "Checkout"
                if: "${{ inputs.branch == '' }}"
                uses: actions/checkout@v4

            -   name: Build application
                uses: SyliusLabs/BuildTestAppAction@v3.2.0
                with:
                    build_type: "app"
                    cache_key: "${{ runner.os }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-composer-${{ hashFiles('composer.json') }}"
                    cache_restore_key: "${{ runner.os }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-composer-"
                    e2e: "yes"
                    e2e_js: "yes"
                    database_version: ${{ matrix.mysql }}
                    php_version: ${{ matrix.php }}
                    symfony_version: ${{ matrix.symfony }}
                    node_version: "20.x"
                    chrome_version: stable

            -   name: Run Behat (Panther)
                run: |
                    $BEHAT_BASE_CMD --tags="@javascript&&~@todo&&~@cli" --suite-tags="@hybrid,@ui" || \
                    $BEHAT_RERUN_CMD --tags="@javascript&&~@todo&&~@cli" --suite-tags="@hybrid,@ui" || \
                    $BEHAT_RERUN_CMD --tags="@javascript&&~@todo&&~@cli" --suite-tags="@hybrid,@ui"

            -   name: Upload logs
                uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: "Logs (Panther, PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}, MySQL ${{ matrix.mysql }}) - ${{ github.run_id }}-${{ github.run_number }}"
                    path: |
                        etc/build/
                        var/log
                    if-no-files-found: ignore
                    overwrite: true
